.header {
  height: 100vh;
  position: relative;

  background-image: url("../assets/jesus-8385575_1920_cropped.png");
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.nav {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.nav div {
  color: black;
  margin-left: 1rem;
  margin-right: 1rem;
}

.header-container {
  width: 95%;
  position: absolute;
  left: 10%;
  top: 0%;
  transform: translate(-10%);

  text-align: center;

  margin-left: 1rem;
  margin-right: 1rem;

  margin-bottom: 2vw;
}

h1 {
  font-size: 52px;
  margin-bottom: 32px;
}

p {
  font-size: 20px;
  line-height: 1.6;
}
