<header class="header">
    <nav class="nav container">
    <div>Rest because Jesus</div>
    <div>TBA (navigation)</div>
    </nav>

    <div class="header-container">
    <h1>Knowing Jesus every single moment</h1>
    <p>Welcome to a place where you can learn to rest in Jesus and more.</p>
    <p>
        Jesus once told us: "Come to me, all you who are weary and burdened, 
        and I will give you rest."
    </p>
    <!-- <p>
        We know from the Bible
        that Jesus was chosen by God to rule all over the creation. We also
        know that Jesus and God are One. By knowing Jesus, we know God too.
    </p> -->
    </div>
</header>