* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gowun Batang", serif;
    color: white;
  }
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gowun Batang", serif;
    color: white;
  }
  
  .header {
    height: 90vh;
    background-image: url("/assets/pexels-maurxeugenio-2752461.jpg");
  
    position: relative;
  }
  
  .container {
    margin: 0 auto;
    width: 99%;
  }
  
  .container p {
    color: black;
  }
  
  .nav {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
  }
  
  .nav div {
    color: black;
  }
  
  .header-container {
    width: 99%;
    position: absolute;
    left: 10%;
    bottom: 0%;
    transform: translate(-10%);
  
    text-align: center;
  }
  
  h2 {
    color: black;
  } */
  